{%extends 'base.html' %}

{% block title %} About{% endblock title %}

{% block body %} 
<div class="container-fluid my-4">
    
    <img src="/static/pic/4.png" style="width: 100%; height: 700px; object-fit: cover;">
    
</div>
<p style="font-family: 'Times New Roman', serif; font-size: 16px; color: #333; line-height: 1.6; text-align: justify;">
    Tenzin Dakar is a dedicated professional with a background in computer science, holding a Bachelor's Degree in BCA from DLIHE. With a strong passion for technology, he has explored
    various fields, including digital marketing, graphic design, web development, and cybersecurity. His eagerness to learn and grow in the tech industry has led him to seek hands-on experience 
    through internships, particularly in web development and cybersecurity. Currently, he is actively enhancing his skills while looking for opportunities to apply his knowledge in practical 
    settings.
</p>

<p style="font-family: 'Times New Roman', serif; font-size: 16px; color: #333; line-height: 1.6; text-align: justify;">
    In addition to his technical expertise, Tenzin is committed to serving Tibetan society. As a member of Tibet Corps, he contributes his skills to meaningful projects that support his 
    community. His education at THF Mussoorie, THF Rajpur, and CST Darjeeling has shaped his strong work ethic and dedication to continuous learning. Whether in data entry, web development,
    or cybersecurity, Tenzin aims to make a positive impact by leveraging his skills for both personal and societal growth.
</p>


{% endblock body %}
